In [1]:
print('Hi')

Hi

Class - 1 (04.03.2025)

In [4]:
import pandas as pd

In [2]:
10+10

20

In [3]:
10
11
12

12

In [4]:
()

()

In [5]:
[]

[]

In [6]:
a=5
a=7
a

7

In [ ]:
# DATA TYPES:

# for python  | for us    | Description

# int         | Integer   | Non decimal Numbers from -Ve Infinity to +ve Infinity
# float       | Float     | Decimal Numbers from -Ve Infinity to +ve Infinity
# str         | String    | when anything is inside ' ' or " " or ''' ''' or """ """
# bool        | Boolean   | Either True or False
# list
# tuple
# set
# dict

In [ ]:
I live in India

'I live in India'

In [10]:
'I live in India'

'I live in India'

In [9]:
"234234.324234"

'234234.324234'

In [10]:
234234.324234

234234.324234

In [11]:
100

100

In [14]:
# syntax:
# type(element)

# it needs  one element to run
# it gives the datatype of the element.

In [12]:
type('23423.32432')

str

In [13]:
type(10)

int

In [14]:
type(10.5)

float

In [19]:
# print('natraj')
print(type(110))
print(120)

# print is the functionality to display the output
# print is not actual/orginal output

<class 'int'>
120

In [ ]:
# commenting in python. After commenting python codes will not be executed.

print("Hello World") # 
print("come to the party")

Hello World
come to the party

In [22]:
print(float) # <class 'float'>
print(str) # <class 'str'>
print(int) # <class 'int'>

<class 'float'>
<class 'str'>
<class 'int'>

In [24]:
print(type('234.24')) # <class 'str'>

<class 'str'>

In [26]:
# +,-,*,/ - Maths calculation

print(10 + 2)
print(10 - 2)
print(10 * 2)
print(100/10)

12
8
20
10.0

In [23]:
# div: /

print(10/2) # 5.0

# always output will be in float.

5.0

In [24]:
# FLOOR DIV: //

# (mixed fraction) - output will be in quotient

print(137//6) # 22

print(7//16) # 0

22
0

In [25]:
# modolo division: %

# (mixed fraction) - output will be in reminder

print(137%6) # 5

print(132%6) # 0

print(12%16) # 12

5
0
12

In [27]:
2 ** 4
# ** = power

16

In [ ]:
# FLOAT:

# if any one of the operand is float the output will be float

In [28]:
print(10 * 4.5) # 45.0

45.0

In [ ]:
# COMPARASION OPERATOR's:

# otuput will be in bool - True or False

# == , > , < , >= , <=, != (not equal)

In [29]:
print(34 == 23) # Flase
print('natraj' == 'natraj') # True
print('NATARAJAN' == 'Natarajan') # False
print(23 != 20) # True

False
True
False
True

In [ ]:
# PRECEDENCE RULE:

# BODMAS | PEDMAS

# B - BRACKET
# O - ORDER (Root, exponent)
# D - DIV | FD - Floor | MD - Modolo - left to right
# M - MUL | FD - Floor | MD - Modolo - left to right
# A - ADD == S - SUB

In [27]:
print(23 - 52 / 2 ** 2 * (5 - 3))

-3.0

In [32]:
print(4 * 21 // 5 % 6) # 4 
print(14 // 2 * 5 % 6) # 5
print(13 % 2 * 15 // 6) # 2

4
5
2

In [33]:
3/2

1.5

In [31]:
a=10
b=5
c=2
d=7
e=12

In [32]:
print(a % b * c // d / e) # 1

0.0

In [34]:
12 * 8 / 4 * 2

48.0