In [1]:
int
float

float

In [2]:
int() # 0
# convert any number into int

0

In [11]:
a=123
b=123.5
a=int(a)
b=int(b)
print(a)
b

123

123

In [3]:
float() # 0.0
# convert any number into float

0.0

In [4]:
a = 12323

float(a)

12323.0

In [5]:
a = 12.9323

int(a)

12

STRING:
str() # ''

# it is a homogeneous
# it can convert any datatype into str
# everything inside a str will be considired as str items/elements


# items/elements inside a str will be having it own unique index number.

# whenever we take any elements from str it will be a str.

In [12]:
c=1235
c=str(c)

c

'1235'

In [ ]:
a='Sooraj loves micky' #17 elements/items/character present 

a[13]
a[-18]

'S'

# positive_index_number:
  # it starts from 0 and ends with len-1

# negetive_index_number:
  # it starts from -1 and ends with -len

In [13]:
a = 21231
print(str(a))
str(a)

21231

'21231'

In [ ]:
'natarajan'

In [ ]:
print('natarajan')

In [14]:
a = 'I play Cricket'

len(a) # to find the no of items in that string

14

In [16]:
a = 'I  play Cricket )(*&)'
len(a)

21

In [ ]:
a = 'I play Cricket'
#    01234567890123
  #  0         1

a = 'I play Cricket'
#    43210987654321 all are negitive

### INDEXING:

# to take any item  from str datatype.

# syntax:
# str_element[index_number]

In [24]:
a = 'I play Cricket'
#    01234567890123
print(a[7])    
print(a[12])   
print(a[-1])  
print(a[-3])

C
e
t
k

# SLICING:
# to take more than one element/items
# by default python move from left to right

# syntax:
# str_element[ start_index_number : end_index_number : step] : step - by default it will be 1

# str_element[ start_index_number : end_index_number - 1 : step] wh python do


# start_index_number by default it will be 0
# end_index_number by default it will be last element

In [25]:
a = 'I play Cricket'
#    01234567890123

print(a[2:5+1]) #play
print(a[2:6]) #play
print(a[2:6:1]) #play
print(a[7:-2]) #Crick
print(a[:6]) #I play
print(a[2:]) #Play cricket

play
play
play
Crick
I play
play Cricket

In [26]:
a = 'I play Cricket'
#    01234567890123

print(a[2:6])    # 2,3,4,5
print(a[2:6:1])  # 2,3,4,5
print(a[2:6:2])  # 2,4
print(a[1::2]) # 1,3,5,7,9,11,13 - ' lyCikt'
print(a[::2])    # 0,2,4,6,8,10,12 - 'Ipa rce'

play
play
pa
 lyCikt
Ipa rce

# REVERSE SLICING:

# python will move from right to left so step should be negative

# always step should be negative to perform REVERSE SLICING

# syntax:
# str_element[ start_index_number : end_index_number - 1 : -step]

# str_element[ start_index_number : end_index_number + 1 : -step] wh python do

# start_index_number > end_index_number

# start_index_number by default it will be [len-1 | -1]
# end_index_number by default it will be 0

In [3]:
a = 'I play Cricket fish'
#    0123456789012345678

# yalp
# hsif
# tekcirC

# print(a[5:2]) # " " - step should be given
# print(a[5:2-1:-1]) # 5,4,3,2
print(a[5::-1])   # 5,4,3,2
# print(a[-1:-5:-1]) # -1,-2,-3,-4
# print(a[18:14:-1]) # -1,-2,-3,-4
# print(a[13:7-1:-1])

yalp I

In [40]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# very basic

# STRING FUNCTIONS:
# ________________

# upper
# lower
# captilize
# title
# swapcase


# isalpha
# isalnum
# isdigit
# isnumeric
# isdecimal
# isascii
# isupper
# islower

# syntax:
# str_element.function()

In [45]:
# upper
# lower
# captilize
# title
# swapcase

a = 'I plAy Cricket fiSh 23234fgdf434 asd23423fsf'

print(a.upper())  # we are calling upper() function for this str a
print(a.lower())
print(a.capitalize())
print(a.title()) # FIRST LETTERS OF EVERY WORD IN THAT STRING
print(a.swapcase())

I PLAY CRICKET FISH 23234FGDF434 ASD23423FSF
i play cricket fish 23234fgdf434 asd23423fsf
I play cricket fish 23234fgdf434 asd23423fsf
I Play Cricket Fish 23234Fgdf434 Asd23423Fsf
i PLaY cRICKET FIsH 23234FGDF434 ASD23423FSF

In [46]:
# isalpha.    # all elements/items must be alphabets
# isalnum     # all elements/items can be alphabets/number
# isdigit     # all elements/items must be number
# isnumeric   # all elements/items must be number
# isdecimal   # all elements/items must be number
# isupper
# islower

# output will be in bool


a = 'I live in India'
print(1,a.isalpha()) # False # all elements must be alphabets

a = 'Magesh'
print(2,a.isalpha()) # True


a = 'I live in India my no is 2134324'
print(3,a.isalnum()) # False # all elements must be alphabets | numbers


a = 'Ilivinmynois2134324'
print(4,a.isalnum()) # True


a = '2134234'
print(5,a.isdigit()) #True - all elements must be numbers

a = '213.4234'
print(6,a.isdigit()) # False

a = '213.4234'
print(7,a.isnumeric()) # False

a = '213'
print(8,a.isnumeric()) # True

a = '213.4234'
print(9,a.isdecimal()) # False

1 False
2 True
3 False
4 True
5 True
6 False
7 False
8 True
9 False

In [47]:
# endswith
# startswith
# 1. output will be in bool
# 2. case sensitive

# syntax:
# str_element.function('substring')

a = 'Natarajan'
print(a.startswith('Nat')) # True
print(a.startswith('nat')) # False
print(a.startswith('nart')) # False

print(a.endswith('Jan')) # False
print(a.endswith('an')) # True

True
False
False
False
True

# VERY VERY IMPORTANT:



# index
# find
# count
# join
# split - list
# replace


# syntax:
# str_element.function('substring')

In [58]:
a='nataragan loves sourav ganguly'
a.index('like')

ValueError: substring not found

In [6]:
# INDEX:

# syntax:
# str_element.index('substing')

# optional:
# str_element.index('substing',index_start)
# str_element.index('substing',index_start,index_end)

# 1. index number of the substing.
# 2. first index number of the first occured substing.
# 3. if the substring is not found it will throw error.
# 4. casee sensitive

a = 'I play Cricket fish'
#    01234567890123

# print(a.index('k')) # 11
# print(a.index('c')) # 10

# --------------------------

a = 'I play crickect c fish'
#    01234567890123

# print(a.index('k')) # 11
# print(a.index('c')) # 7
# # print(a.index('cricket')) # 7
# # print(a.index('cket')) # 10
# print(a.index('c',9)) # 10
print(a.index('c',12,15)) # 13

13

In [19]:
# FIND:

# similar to index
# 1. if the substring is not found it will give you -1

a = 'I play Cricket fish'
#    01234567890123

print(a.find('k')) # 11
print(a.find('c')) # 10
print(a.find('raj')) # -1

11
10
-1

In [59]:
# COUNT:

# how many no of times the substring is repeated in the string.
# casee sensitive

# syntax:
# str_element.count('substing')

a = 'I plfishay cricket fish fishisto be out for silling'
#    01234567890123

print(a.count('c')) # 2
print(a.count(' ')) # 8
print(a.count('natraj')) # 0
print(a.count('fish')) # 3

2
8
0
3

In [62]:
# join:

# syntax:
# 'substing'.join(str_element)

# 1. the substing will be added in between all the str elements/items

a = 'Natarajan'
# print('-'.join(a)) #N-a-t-a-r-a-j-a-n
# print(' '.join(a)) #N a t a r a j a n
# print('i'.join(a)) #Niaitiairiaijiain
" ".join('sooraj')

's o o r a j'

In [66]:
# REPLACE:
# it will replace all the matched old data

# syntax:
# a.replace('old_substr','new_substr')

# a = 'I play CriTket fish'
# b = a.replace('T','c')
# print(1, b)

b= 'I play CriTket fiTsh'

b = b.replace('T','')
print(2, b)

# a = 'I play CriTcket fiTsh'
# b = a.replace('play','Eat')
# print(3, b)

# a = 'I play CriTcket fiTsh'
# b = a.replace('plaY','Eat')
# print(4, b)

2 I play Criket fish

In [67]:
input()
# alwyas otupt will be a data type of str

'sooraj'

In [68]:
a = input('Enter Your Name: ')
print(a)
a = input('Enter Your age')
print(a)
a = input('Enter Your sex')
print(a)
a = input('Enter Your mobile')
print(a)

sooraj
21
male
12345

In [69]:
'natraj' + 'rose' + 'jack' # concatenate # natrajrose

'natrajrosejack'

In [26]:
'natraj' * 3 #natrajnatrajnatraj

'natrajnatrajnatraj'

In [71]:
a='one' * 10
" ".join(a)

'o n e o n e o n e o n e o n e o n e o n e o n e o n e o n e'

In [70]:
'magesh' + 34

TypeError: can only concatenate str (not "int") to str

In [72]:
a = 'I play CriTket'
a[15] # str index out of range

IndexError: string index out of range