In [ ]:
# LIST:

# list is a heterogeneous datatype. i.e any datatype can be inside a list
# list is a collection of datatype.
# elements/items are seperated by comma.

In [ ]:
sooraj=[21.5, "BBA", "Palakad", 12345]

In [1]:
a='sooraj'
b=list(a)

In [2]:
b

['s', 'o', 'o', 'r', 'a', 'j']

In [3]:
a=12345
list(a)

TypeError: 'int' object is not iterable

In [ ]:
str() # ''

list() # []

In [ ]:
a = [1,2,3,4,5]
# indexing & slicing are common as str

In [5]:
a = [1,23.5,'magesh',11,223,213,'rose','earth','moon']
#.   0  1     2       3  4   5    6       7       8

In [14]:
a[7][3:4+1]

'th'

In [9]:
a[-1]

'moon'

In [10]:
print(a[6:8])
# print(a[2])
# ['rose','earth']

['rose', 'earth']

In [16]:
a[7][-1:-5-1:-1]

'htrae'

In [11]:
print(a[2:5+1])

['magesh', 11, 223, 213]

In [3]:
# earth

print(a[7])
type(a[7]) # str

earth

str

In [4]:
a1 = a[7]
b = a1
print(b[:3])
print(a[7][:3])

ear
ear

In [ ]:
# SPLIT only for str:

# a = '1 2 3 4 5'
a = '1-2-3-4-56'

# ['1','2','3','4','5']

# syntax:
# listItem.split('substring')

# b = a.split('substring')

# 1. output will be in list datatype
# 2. items will be in str.
# 3. substring will be removed in the output
# 4. whenever there is a substring there occurs a break the elements will be considired as list items

print(a.split('-')) # ['1','2','3','4','56']
print(a.split('5')) # ['1-2-3-4-','6']

['1', '2', '3', '4', '56']
['1-2-3-4-', '6']

In [ ]:
# LIST METHDOS:

In [21]:
len([1,2,3,4,'natraj','1']) # 6

6

In [24]:
print(sum([1,2,3,4,5,5.5])) # only int or float
print(max([1,2,3.3,4,5])) # all items should be int or float
print(min([1,2,3,4,5.5])) # all items should be int or float

20.5
5
1

In [28]:
max(['aim','sxd','ssi']) # lexiographical

'sxd'

In [ ]:
# append - pop
# extend
# str - split-
# list - join()
# count()
# index()

In [29]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 1. append()

# 1. it will add any_element to the end of the list
# 2. any_element should be only one element
# 3. any_element i.e any datatype

# syntax:
# list_element.append(any_element)
# list.append(any_element)

# syntax:
# a.append(item)

a = [1,2,'m',5]

# a.append('one') # [1,2,'m',5,'one']
a.append(['one',2,3]) # [1,2,'m',5,['one',2,3]]
a.append('one')

In [30]:
a=['sooraj','plakad']
a.append(21)
a

['sooraj', 'plakad', 21]

In [31]:
a.append(123456)
a

['sooraj', 'plakad', 21, 123456]

In [32]:
b=['BBA', 'karpagam', 2024]
a.extend(b)

In [34]:
a

['sooraj', 'plakad', 21, 123456, 'BBA', 'karpagam', 2024]

In [35]:
a1 = [1, 2, 'm', 5, ['one', 21, 31], 'one']
#     0  1   2   3          4           5

a1[4][0][1]

'n'

In [ ]:
# pop:
# by default it will remove last item

# syntax:
# listitem.pop()

# listitem.pop(index)

a = [1, 2, 'm', 5, ['one', 2, 3]]

a.pop() # ['one', 2, 3]

a # [1, 2, 'm', 5]

In [36]:
a = [1, 2, 'm', 5, ['one', 2, 3]]

a.pop(3)

a

[1, 2, 'm', ['one', 2, 3]]

In [37]:
# insert - based on index will add element anywhere

# syntax - list.insert(index, element)

numbers = [10, 20, 30, 40]
numbers.insert(2, 25)  # Insert 25 at index 2

print(numbers)

[10, 20, 25, 30, 40]

In [38]:
numbers = [10, 20, 30, 40]
numbers.append(25)
numbers

[10, 20, 30, 40, 25]

In [ ]:
# extend - multiple items at the last:

# syntax - list.extend()

# Original list
fruits = ["apple", "banana", "cherry"]

# Another list to extend
more_fruits = ["orange", "grape", "mango"]

# Using extend() to add more_fruits to fruits
fruits.extend(more_fruits)

print(fruits)

['apple', 'banana', 'cherry', 'orange', 'grape', 'mango']

In [ ]:
# non - iterable dataypte - int,float,bool,None
# iterable dataypte       - str, list , tuple, set , dict ,range

In [7]:
a = [1,2,3]
b = a.copy() # will create a new memory

a.append('mag')

print(a) # [1,2,3,'mag']
print(b) # [1,2,3]

[1, 2, 3, 'mag']
[1, 2, 3]

In [ ]:
a = [1,2,3]
b = a 

a.append('mag')

print(a) # [1,2,3,'mag']
print(b) # [1,2,3]

[1, 2, 3, 'mag']
[1, 2, 3, 'mag']

In [ ]:
# count:

# listItem.count(item) 

a = [1,2,3,4,5,1,2,1,1,'1']
print(a.count(1)) # 4
print(a.count('1')) # 1

In [39]:
# index is smilar to str index:

a = [1,2,3,'1',4,5,1,2,1,1,'1']
print(a.index(1)) # 0
print(a.index('1')) # 3
print(a.index('z')) # Error

0
3

ValueError: 'z' is not in list

In [41]:
a = [1,2,3,534,23,54,23,4,34,5,32,4,3,45]
a.sort(reverse=False)

# sorted(listItem) - check this method


print(a) # ascending order by default
print(a[::-1])

[1, 2, 3, 3, 4, 4, 5, 23, 23, 32, 34, 45, 54, 534]
[534, 54, 45, 34, 32, 23, 23, 5, 4, 4, 3, 3, 2, 1]

In [42]:
a = [1,2,3,534,23,54,23,4,34,5,32,4,3,45]
a.reverse()
a

[45, 3, 4, 32, 5, 34, 4, 23, 54, 23, 534, 3, 2, 1]

In [ ]:
# join - similar to str

# 1. all the elements in that list should be str
# 2. output will be str

In [ ]:
a = '1 2 3 4 5'
# 12345
# 1-2-3-4-5

b = a.split() # a.split(' ')

print(b)

print(''.join(b))
print('-'.join(b))

In [44]:
a=['sooraj', 'plakad', 'BBA', 'karpagam']
b="@".join(a)
b

'sooraj@plakad@BBA@karpagam'

In [45]:
True and True

True

In [46]:
True and False

False

In [47]:
False and False

False

In [13]:
True or False

True

In [14]:
True and True or False

True

In [17]:
True and False or True

True

In [15]:
False or True

True

In [16]:
False or False

False

In [18]:
True + True

2

In [19]:
True + False

1

In [20]:
False + False

0

In [48]:
45 > 67 and 90 > 38 or 9 > 8

True

In [ ]:
# in - check if the exact item/element is present or not



print('live' in a)
print('lIve' in a)
print('61' in a)
# print(6 in a) # Error

a = ['Magesh','live','one',2,3,4,2]
print(41 in a)
print('liv' in a)

True
False
False
False
False

In [50]:
# not in - opposite of in

print(not True)
print(not False)

a = 'I live in India 678'

print('live' not in a)
print('lIve' not in a)
print('61' not in a)
# print(6 in a) # Error

a = ['Magesh','live','one',2,3,4,2]
print(41 not in a)
print('live' not in a)

False
True
False
True
True
True
False

# CONDITIONS:

# if , elif , else

# if condition:
#   statement
# else:
  # statement

# 1. condition - can be anything

# 2. if cheks weather the condition is True or False

# 3. if the condition is True then only the statemement will be executed

# 4. if the condition of the if is Flase then by default else will be triggred

# 5. for else if is mandatory

# 6. conditional block can have many elif but highest prioriyis if

# 7. for a conditional block only one statement will be executed.

# when condition will be False:
  # False, 0, 0.0 , any empty data type i.e '' , []

# when condition will be True:
#   will be true if it is not False
#   infinite scenarios

In [ ]:
if True: # True not false
  print('Good')

Good

In [ ]:
if 10<100:
  

  print('greater')

greater

In [ ]:
if 34%12: # 10 - True
  print('Great')

In [63]:
if 21 % 2 * 3.5: # 0.0 -False
  print('WOrking')
  print('Inside If Block')
print('outside If Block')

WOrking
Inside If Block
outside If Block

In [65]:
if 'Nataraj' * 0 + 'sooraj': 
  print('w')
  print('In if b')
else:
  print('inside else')

w
In if b

In [67]:
a = 51

if a%2==0:
  print('Even')
else:
  print('Odd')

Odd

In [70]:
money = 150
pizza = 120
burger = 110

if money >= pizza:
  print('Eat Pizza')
elif money >=burger:
  print('Eat Burger')
else:
  print('Home Food')

Eat Pizza

In [ ]:
11

In [72]:
# formatted string

a=input('Enter Your Name: ')
b=input('Enter Your Age: ')
c=input('Enter Your Sex: ')
d=input('Enter Your Mobile: ')

print(f'My name is,{a}')
print(f'My age is:{b}')
print(f'My sex is:{c}')
print(f'My mobile is:{d}')

My name is,sooraj
My age is:21
My sex is:male
My mobile is:12345

In [73]:
# formatted numbers

x = int(input('enter number'))
y = int(input('enter nember'))

# Embedding expressions
result = f"The sum of {x} and {y} is {x + y}."
print(result)

The sum of 5 and 10 is 15.

In [2]:
value = 3.14159

# Formatting a float to two decimal places
formatted_value = f"Pi is approximately {value:.3f}."
print(formatted_value)

# Formatting as a percentage
percentage = 0.75
formatted_percentage = f"Success rate: {percentage:.2%}."
print(formatted_percentage)

Pi is approximately 3.142.
Success rate: 75.00%.