# lambda: simple single line function


# 1. it should be declared to some variable
# 2. that variable will act as fun name
# 3. by default it will return the output

# syntax:
# fun_name = lambda inputs : statement/condition

In [1]:
v = lambda a,b: a*b


v(10,5)

50

In [2]:
v= lambda a,b,c : a*b/c

In [3]:
v(10,5,2)

25.0

In [6]:
out=v(10,20)-v(5,10)
out

150

In [9]:
a=[]
tri = lambda n : a.append(n*2)
tri(3)

In [10]:
a

[6]

In [8]:
v= lambda a, b, c, d, e : a+b*c//d**e
v

In [9]:
v(10,5,2,1,2)

20

In [ ]:
v1 = lambda a,b,c,d,e : a % b * c // d / e

In [3]:
v1 = lambda a,b : a.append(b*2)

c = [1,2,3]
v1(c,7)

print(c)

[1, 2, 3, 14]

In [16]:
v= lambda a,b : a*b

In [17]:
v("natraj",2)

'natrajnatraj'

# filter & map:

# These take another fun as arguments

# map:

# map(fun,iterable_datatype)

# 1. it take one by one element from iterable_datatype and give it to the fun
# 2. fun must return some value
# 3. map will store the returned output
# 4. we have to convert it into any iterable format

In [13]:
a = [1,2,3,4]

def multi(a):
  # print(a*2)
  return a*2

# def multi1(a):
  # print(a*2)
  # return a*2

for i in a:
  multi(i)

In [15]:
a= list(map(int, input().split()))

In [16]:
a

[1, 2, 3, 4, 5]

In [14]:
print(list(map(multi,a)))
# print(list(map(multi1,a)))
# print(set(map(multi,a)))
# print(tuple(map(multi,a)))

[2, 4, 6, 8]

In [ ]:
# filter:

# filter(fun,iterable_datatype)

# 1. it take one by one element from iterable_datatype and give it to the fun
# 2. fun must return some value
# 3. filter if the returned output True it will store the input element
# 4. we have to convert it into any iterable format

In [22]:
a = [2,0,2,3,4]

def multiply(a):
  # print(a*2)
  return a*2

print(list(filter(multiply,a)))

[2, 2, 3, 4]

In [23]:
a = [0,1,2,3,4]

print(list(map(lambda i: i*2 , a)))
print(list(filter(lambda i: i*2 , a)))

[0, 2, 4, 6, 8]
[1, 2, 3, 4]

In [9]:
a= '1 2 3 4 5'
b = []
for i in a.split():
  b.append(int(i))

b

[1, 2, 3, 4, 5]

In [25]:
a= '1 2 3 4 5'

def conversion(a):
  return int(a)

# v = list(map( conversion , a.split()))
v = list(map( lambda i : int(i) , a.split()))

#  a.split() = ['1', '2', '3', '4', '5']
v

[1, 2, 3, 4, 5]

In [ ]:
a= '1 2 3 4 5'


list(map(lambda i : int(i), a.split()))

[1, 2, 3, 4, 5]

In [44]:
v= lambda a :  a.split()
a=[]
for i in v:
    a.append(int(i))

a

TypeError: 'function' object is not iterable

In [26]:
v('1 2 3 4 5')

TypeError: 'list' object is not callable

# file handling:

In [ ]:
file=open(r"C:\Users\Admin\Desktop\Natarajan\Python\notes1.txt")
file.read()

'Hi This is Akilesh.'

In [35]:
with open("notes1.txt", mode='r') as file:
    print(file.read())

# print(data)

Hi This is Akilesh.

In [38]:
with open("notes1.txt", mode= 'w') as file:
    data=file.write("Today learnt python class")

print(data)

25

In [39]:
with open("notes1.txt", mode= 'a') as file:
    data=file.write("\nThis is Akilesh")

print(data)

16

In [47]:
file=open('C:/Users/Admin/Desktop/Natarajan/Python/notes.txt')
file.read()

'Hi this is python class.'

In [50]:
with open(r"C:\Users\Admin\Desktop\Natarajan\Python\notes.txt", mode='r') as file:
    print('the file is opened')
    data=file.read()

print(data)

the file is opened
Hi this is python class.

In [52]:
with open(r"C:\Users\Admin\Desktop\Natarajan\Python\notes.txt", mode='w') as file:
    print('the file is opened')
    data=file.write('This is new new python class')

print(data)

the file is opened
28

In [53]:
with open(r"C:\Users\Admin\Desktop\Natarajan\Python\notes.txt", mode='a') as file: #append
    print('the file is opened')
    data=file.write('\nThis class is attended by monisha')

print(data)

the file is opened
34

In [40]:
a = '123'
b = int(a)
print(b)

123

In [42]:
a=0
b=10
print(b/a)

ZeroDivisionError: division by zero

In [41]:
a = '123.5'
b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: '123.5'

In [12]:
try:

    a = input()
    c=int(input())
    b = int(a)
    print(b)

except:
    b=float(a)
    # print(b)
    
    try:

        print(b/c)

    except:
        print("dont give zero input")

0.6

In [11]:
try:
    a=input()
    b=int(a)
    print(b)

except:
    b=float(a)
    c=0
    try:

        print(b/c)
    except:
        print('dont divide by zero')

1

In [66]:
# Error Handling
try:

    
    print(1239 / 0)
except:
    print('Dont divide by 0')

Dont divide by 0

In [ ]:
try:
  a = '123.5'
  b = int(a)
  print(b)
except:
  b = float(a)
  print(b)

SyntaxError: expected 'except' or 'finally' block (4032062056.py, line 4)

In [15]:
a='123.44'
b=int(a)
b

ValueError: invalid literal for int() with base 10: '123.44'

In [ ]:
try:
  a = '123.5'
  b = int(a)
  print(b)
except:
  b = float(a)
  try:
    c = 0
    print(b/c)
  except:
    print('Dont give 0')

In [ ]:
# comphrension:
# syntax - [expression, condition, looping the iterable datatype]
a= '1 2 3 4 5' #[1,3,5]
b = []
for i in a.split():
  b.append(int(i))

print(b)

In [8]:
a=input()
b=[]

out = [int(i) if int(i)%2!=0 else int(i)*2 for i in a.split() ]
out

[1, 4, 3, 8, 5]

In [71]:
a = ['1', '2', '3', '4', '5']

v = [int(i) for i in a]
v

[1, 2, 3, 4, 5]

In [14]:
b = [1, 2, 3, 4, 5]

# '2 4 6 8 10'
out = " ".join([str(i*2) for i in b])
# v = [str(i*2) for i in b]
# print(v)
# print(' '.join(v))

# print(' '.join([str(i*2) for i in b]))
out

'2 4 6 8 10'

In [74]:
b = [1, 2, 3, 4, 5]

# '2 6 10'

v = " ".join([str(i*2) for i in b if i%2!=0])
v

'2 6 10'

In [75]:
b = [1, 2, 3, 4, 5, 6]

# '2 2 6 4 10 6'

v = [str(i*2) if i%2!=0  else str(i) for i in b]
' '.join(v)

'2 2 6 4 10 6'

In [16]:
b = [1, 2, 3, 4, 5, 6]

# '2 2 6 4 10 6'

v = {str(i*2) if i%2!=0  else str(i) for i in b}
' '.join(v)

'2 4 6 10'

In [17]:
b = [1, 2, 3, 4, 5, 6]

# {1:1 , 2:4,3:9,4:16}

v = {i:i**2 for i in b} # dict compherension
v

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# json:

# any data type can be converted into JSON

In [17]:
import json

In [18]:
a = [['sac','Dra','VK'],[40,42,32]]
a

[['sac', 'Dra', 'VK'], [40, 42, 32]]

In [22]:
v = json.dumps(a)
v

'[["sac", "Dra", "VK"], [40, 42, 32]]'

In [20]:
type(v)

str

In [25]:
a = {
    1:'magesh',
    2:'Earth'
}
v = json.dumps(a)
print(v)

jsontonormal = json.loads(v)
print(jsontonormal)

{"1": "magesh", "2": "Earth"}
{'1': 'magesh', '2': 'Earth'}

In [84]:
import pickle

In [86]:
a = {
    1:'magesh',
    2:'Earth'
}
v = pickle.dumps(a) # pickling
print(v)

pickletonormal = pickle.loads(v) # unpickling
print(jsontonormal)

b'\x80\x04\x95\x1a\x00\x00\x00\x00\x00\x00\x00}\x94(K\x01\x8c\x06magesh\x94K\x02\x8c\x05Earth\x94u.'
{'1': 'magesh', '2': 'Earth'}

In [ ]:
# iterator:

# iter()
# any iterable data type to iterator

In [87]:
a = [1,2,3,4,4,5]
for i in a:
  print(i)

1
2
3
4
4
5

In [88]:
a

[1, 2, 3, 4, 4, 5]

In [89]:
a = iter([1,2,3,4,4,5])
for i in a:
  print(i)

list(a) # []

1
2
3
4
4
5

[]

In [90]:
a

In [91]:
a = iter([1,2,3,4,4,5])
next(a) # 1

1

In [92]:
list(a)

[2, 3, 4, 4, 5]

In [ ]:
list(a) # []

In [93]:
a = iter([1,2,3,4,4,5])
print(next(a)) # 1
print(next(a)) # 2
print(next(a)) # 3

1
2
3

In [94]:
list(a) # [4,4,5]

[4, 4, 5]

In [ ]:
# CLASS:

# OOPS - object oriented programming

# 1. to group all the functionalites in same name

# class className:
#   statement

In [ ]:
# self denotes the intance of a class

class principal:

  def manageTeacher(self):
    print('to manage teacher')

  def manageadmin(self):
    print('manage admin')

In [2]:
print(principal)

<class '__main__.principal'>

In [100]:
class Engine:

  def __init__(self,f,i,bt):
    self.f = f
    self.i = i
    self.bt = bt

  def piston(self):
    print('piston')
    return self.f * self.i

  def cylinder(self):
    print('cylinder')
    return self.piston() + self.f

  def fuelsystem(self,newinput):
    print('fuelsystem')
    print(newinput)

  def ECU(self):
    print('ECU')
    return self.piston() + self.i

In [101]:
t1 = Engine(10,2,12) # object oriented programming
t1.__dict__

{'f': 10, 'i': 2, 'bt': 12}

In [102]:
print(t1.piston()) # 20
print(t1.cylinder()) # 30
t1.fuelsystem(11)
t1.ECU()

piston
20
cylinder
piston
30
fuelsystem
11
ECU
piston

22

In [103]:
t2 = Engine(100,12,24)
print(t2.piston()) # 20
print(t2.cylinder()) # 30

piston
1200
cylinder
piston
1300

In [ ]:
def multi(a,b):
    return a*b

def divide(a,c):
    return a/c

In [ ]:
def piston(f,i):
    print('piston')
    return f*i

def cylinder(f,i): # this is wrong
  print('cylinder')
  return f + piston(f,i)

def fuelsystem(f,l):
  print('fuelsystem')

def ECU(bt):
  print('ECU',bt)

cylinder(100,22)
piston(10,12)
# testcase1:
piston(100,22)
cylinder(10,2)

In [108]:
a = [1,2,3,4,5]

for i in a:
  if i==3:
    continue
  print(i)

1
2
4
5

In [ ]:
# continue skip the particular iteration
# in that iteration not will be trigrred after continue

In [ ]:
# break terminate the nearest for loop
# the forloop will be stopped

In [107]:
a = [1,2,3,4,5]

for i in a:
  
  if i==3:
    print(i)
    break

3

In [ ]:
if True:
  pass

print('Magesh')

Magesh

In [112]:
# pass - to close the statement
for i in [1,2,3]:
  pass

In [15]:
class Engine:

    def __init__(self, f, i, l, bt):
        self.i = i
        self.f = f
        self.l = l
        self.bt= bt


    def piston(self):
        print('piston')
        return self.f * self.i

    def cylinder(self):
        print('cylinder')
        return self.f
    
    def fuelsystem(self):
        print('fuelsystem')
        return self.f * self.l
    
    def battery(self, newinput):
        print('battery')
        return self.bt + newinput

In [20]:
t1= Engine(10,2,3,12)

In [21]:
t1

In [22]:
t1.__dict__

{'i': 2, 'f': 10, 'l': 3, 'bt': 12}

In [23]:
print(t1.piston())
print(t1.cylinder())
print(t1.fuelsystem())
print(t1.battery(10))

piston
20
cylinder
10
fuelsystem
30
battery
22

In [39]:
# n=int(input())

# n_arr=list(map(int,input().split()))
def id_unique(a, id):

    not_unique= []
    for i in range(1,a):
        if id[i]==id[i-1]:
            not_unique.append(i)
    if len(not_unique)==0:
        return -1
    else:
        b=(set(not_unique))
        return b

id_unique(7, [1,1,11,121,131,141,98])

{1}

In [34]:
n=int(input())

n_arr=list(map(int,input().split()))
b=[n_arr[0]]
out=[b.append(n_arr[i]) for i in range(1, n) if n_arr[i] ==b[-1]]
if len(b)==0:
    print(-1)

else:
    print(*set(b))

1

In [ ]:
n=int(input())

n_arr=list(map(int,input().split()))
b=[]
for i in range(n):
    b.append(n_arr.count(n_arr[i]))
# print(b)

{1, 2, 3}

In [ ]:
class Engine:

    def __init__(self, f, i, bt):
        self.f = f
        self.i = i
        self.bt= bt


    def piston(self):
        print('piston')
        return (self.f * self. i)



    def cylinder(self):
        print('cylinder')
        return (self.f * self.piston())

    


    def battery(self):
        print('Battery')
        return (self.bt)

    def carburettor(self, new_air):
        print('Carburretor')
        return (self.f * new_air)

In [18]:
t1= Engine(10,2,5)
t1.__dict__

{'f': 10, 'i': 2, 'bt': 5}

In [19]:
t1.piston()

piston

20

In [20]:
t1.cylinder()

cylinder
piston

200

In [21]:
t1.carburettor(20)

Carburretor

200

In [22]:
t1.battery()

Battery

5

In [ ]:
t2=Engine(5, 2, 12)